<%= render 'form' %>
<br />

<% if @weather.cod != 200 %>
  <div class="row">
    <div class="col-md-8">
      <h2>We're sorry, we couldn't fetch the weather for this location</h2>
      <p>Here are more details: <%= @weather.message %></p>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8">
      <h1>
      <% if @weather.name.blank? %>
        No City
      <% else %>
        Weather in <%= @weather.name %>
      <% end %>
      </h1>

      <p>
        <%= Time.at(@weather.datetime).strftime('%F %T') %>
      </p>

      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td>
              <%= image_tag("http://openweathermap.org/img/w/#{@weather.icon}.png") %>
              <h2><%= @weather.forecast %></h2>
              <p><%= @weather.description %></p>
            </td>
            <td>
              <h2><%= @weather.temp %>째C</h2>
              <p>Max: <strong><%= @weather.temp_max %>째C</strong></p>
              <p>Min: <strong><%= @weather.temp_min %>째C</strong></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Pressure: <strong><%= @weather.pressure %> hPa</strong></p>
              <p>Humidity: <strong><%= @weather.humidity %>%</strong></p>
              <p>Visibility: <strong><%= @weather.visibility %>m</strong></p>
            </td>
            <td>
              <p>Wind Speed: <strong><%= @weather.wind.speed %>m/s</strong></p>
              <p>Wind Direction: <strong><%= @weather.wind.deg %>째</strong></p>
              <p>Clouds: <strong><%= @weather.clouds %>%</strong></p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<% end %>
